body
{
    font-family: 'Quintessential', Cursive;
}

body > div {
    width:400px;
    background-color:#555555;
    float:left;
    border:1px solid white;
}

.header
{
    font-weight:bold;
    font-size: 2em;
    line-height: 2em;
    text-align:center;
    }

p{
    background-color:white;
    margin-left:4%;
    width:85%;
    padding:10px;
    padding-bottom:20px;
}

.aClose, .aTime
{
    width:15px;
    height:15px;
    display:block;
    float:right;
    margin: 3px;
    background-size:contain;
    }

.aClose
{
    background-image:url(delete.png);

    }

.aTime
{
    background-image:url(time.png);
}

.messageArea span
{
    clear:both;
    float:right;
    }

.textfield{
    display:block;
    background-color:white;
    text-align:center;
    margin-left:4%;
    width:90%;
    margin-top:10px;
    margin-bottom:10px;
    overflow: hidden;
}

textarea
{
    width:90%;
    resize:none;
    }

.button
{
    border-radius:15px;
    margin-top:5px;
    float:right;
    margin:3px;
    }


.bot{
    height:1px;
    display:block;
}
