#desk{
    background-image:url(../pics/wallpaper.jpg);
    background-position:center;
    height:640px;
    width:1024px;
}

/* START Menu Style */

#menu{
    width:1024px;
    height:50px;
    margin-top:590px;
    border-top:2px solid black;
    position:absolute;
    color:white;
    background-color:rgba(0,0,0,0.7);
    z-index:10000;
}

.iVicon, .rssIcon, .memoryIcon{
    float:left;
    height:40px;
    width:40px;
    display:block;
    background-size:contain;
    margin:5px;
    transition:transform 0.7s;
}

.iVicon:hover, .rssIcon:hover, .memoryIcon:hover{
    transform:scale(1.2, 1.2);
}

.iVicon{
    background-image:url(../pics/imageView.gif);    
}


.rssIcon{
    background-image:url(../pics/rss.png);
}

.memoryIcon{
    background-image:url(../pics/memory.gif);
}

/* END Menu Style */

/* START Window style */
.winDiv{
    height:350px;
    width:295px;
    position:absolute;
    border:3px solid rgb(100,100,100);
}

.headDiv{
    height:31.5px;
    width:100%;
    color:white; 
    padding-top:2px;
    background-color: black; /* Fallback color if gradients are not supported */
    background:-webkit-linear-gradient(0deg, rgb(230,230,230), black); /* Chorme and Safari */
    background:-moz-linear-gradient(0deg, rgb(230,230,230), black); /* Old Fx */
    background:-ms-linear-gradient(0deg, rgb(230,230,230), black); /* pre IE 10 */
    background:-o-linear-gradient(0deg, rgb(230,230,230), black); /* Old Opera */
    background:linear-gradient(0deg, rgb(230,230,230), black); /* standard syntax */
}

.headDiv span{
    margin:5px;
    height:20px;
    width:20px;
    display:block;
    float:left;
}

.headDiv span.iV{background-image:url(../pics/imageViewMini.gif);}
.headDiv span.rss{background-image:url(../pics/rssMini.png);}
.headDiv span.memory{background-image:url(../pics/memoryMini.gif);}

.headDiv .aClose{
    margin:5px;
    height:15px;
    width:15px;
    background-image:url(../pics/x.png);
    float:right;
    display:block;
    transition:transform 0.5s;
}

.aClose:hover{
    transform:scale(1.2, 1.2);
}

.headDiv .aContext{
    color:white;
    position:absolute;
    margin-left:20px;
}

.popMenu{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    z-index:10000;
}

.popMenu div{
    background-color:rgb(210,210,210);
    position:absolute;
    margin-top:60px;
    margin-left:60px;
    border:3px solid black;
    padding:15px;
}

.popMenu a{
    color:black;
    background-color:rgb(230,230,230);
    text-decoration:none;
    clear:both;
    float:left;
    padding:15px;
    width:inherit;
    width:100px;
    border:1px solid black;
    margin:10px;
    text-align:center;
    transition:transform 0.2s, background-color 0.5s;
}

.popMenu a:hover{
    transform:scale(1.005, 1.005);
    background-color:rgb(245,245,245);
}

.iVContentDiv, .rssContentDiv, .memoryContentDiv, .imageContentDiv{
    height:84%;
    width:100%;
    background-color:rgb(230,230,230);
}

.iVContentDiv, .rssContentDiv, .memoryContentDiv{
    overflow-y:scroll;
}

.rssContentDiv a, .rssContentDiv p, .rssContentDiv h2{
    margin:5px 10px 5px 10px;
    display:block;
}

.rssContentDiv p{
    border-bottom:1px dotted black;
    margin-bottom:40px;
}

.statusDiv, .loading{
    background-color: black; /* Fallback color if gradients are not supported */
    background:-webkit-linear-gradient(180deg, rgb(230,230,230), black); /* Chorme and Safari */
    background:-moz-linear-gradient(180deg, rgb(230,230,230), black); /* Old Fx */
    background:-ms-linear-gradient(180deg, rgb(230,230,230), black); /* pre IE 10 */
    background:-o-linear-gradient(180deg, rgb(230,230,230), black); /* Old Opera */
    background:linear-gradient(180deg, rgb(230,230,230), black); /* standard syntax */
}

.statusDiv{
    height:24.5px;
    width:100%;
}

.loading{
    height:7%;
    width:100%;
    text-indent:25px;
    color:white;
}

.loading span{
    margin-top:-20px;
    margin-left:3px;
    clear:both;
    display:block;
    height:100%;
    width:50%;
    background-image:url(../pics/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:left;
}

.picDiv{
    margin:5px;
    padding:3px;
    float:left;
    background-color:rgb(200,200,200);
    transition:transform 0.5s;
}

.picDiv:hover{
    transform:scale(1.1, 1.1);
}

.picDiv img{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* END Window style */

/* START Memory Style */

.memoryContentDiv td a{
    width:24px;
    height:24px;
    display:block;
    margin:10px;
    border:1px solid black;
    padding:2px;
    background-position:center;
    background-repeat:no-repeat;
}

.memoryContentDiv table{
    padding:10px;
    margin:3px;
    width:90%;
    height:90%;
    margin:auto;
}

.memoryContentDiv p{
    text-align:center;
    margin-top:-10px;
}


.zero{
    background-image:url(../pics/0.png);
}

.one{
    background-image:url(../pics/1.png);
}

.two{
    background-image:url(../pics/2.png);
}

.three{
    background-image:url(../pics/3.png);
}

.four{
    background-image:url(../pics/4.png);
}

.five{
    background-image:url(../pics/5.png);
}

.six{
    background-image:url(../pics/6.png);
}

.seven{
    background-image:url(../pics/7.png);
}

.eight{
    background-image:url(../pics/8.png);
}

/* END Memory Style */