#desk{
    background-image:url(../pics/wallpaper.jpg);
    background-position:center;
    height:640px;
    width:1024px;
}

#menu{
    width:1024px;
    height:50px;
    margin-top:590px;
    border-top:2px solid black;
    position:absolute;
    color:white;
    background-color:rgba(0,0,0,0.7);
}

.iVicon{
    float:left;
    height:40px;
    width:40px;
    display:block;
    background-size:contain;
    background-image:url(../pics/imageView.gif);
    margin:5px;
    transition:transform 0.7s;
}

.iVicon:hover{
    transform:scale(1.2, 1.2);
}

.rssIcon{
    float:left;
    height:40px;
    width:40px;
    display:block;
    background-size:contain;
    background-image:url(../pics/rss.png);
    margin:5px;
    transition:transform 0.7s;
}

.rssIcon:hover{
    transform:scale(1.2, 1.2);
}

/* START Window style */
.winDiv{
    height:350px;
    width:295px;
    margin:5px 0 0 5px;
    position:absolute;
    border:3px solid rgb(100,100,100);
}

.headDiv{
    height:9%;
    width:100%;
    color:white;
    background:-moz-linear-gradient(90deg, rgb(230,230,230), black);
    text-align:center;
    
}

.headDiv span{
    margin:5px;
    height:20px;
    width:20px;
    display:block;
    float:left;
}

.headDiv span.iV{background-image:url(../pics/imageViewMini.gif);}
.headDiv span.RSS{background-image:url(../pics/rssMini.png);}

.headDiv .aClose{
    margin:5px;
    height:15px;
    width:15px;
    background-image:url(../pics/x.png);
    float:right;
    display:block;
    transition:transform 0.5s;
}

.aClose:hover{
    transform:scale(1.2, 1.2);
}

.contentDiv{
    height:84%;
    width:100%;
    background-color:rgb(230,230,230);
    overflow-y:scroll;
}

.contentDiv p, .contentDiv h2{
    padding:25px;

}


.statusDiv{
    height:7%;
    width:100%;
    background:-moz-linear-gradient(-90deg, rgb(230,230,230), black);
}

.loading{
    height:7%;
    width:100%;
    background:-moz-linear-gradient(-90deg, rgb(230,230,230), black);
    text-indent:25px;
    color:white;
}

.loading span{
    margin-top:-20px;
    margin-left:3px;
    clear:both;
    display:block;
    height:100%;
    width:50%;
    background-image:url(../pics/ajax-loader.gif);
    background-repeat:no-repeat;
    background-position:left;
}

.picDiv{
    margin:5px;
    padding:3px;
    float:left;
    background-color:rgb(200,200,200);
    transition:transform 0.5s;
}

.picDiv:hover{
    transform:scale(1.1, 1.1);
}

.picDiv img{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* END Window style */